[Unit]
Description=Django App
After=network.target 

[Service]
Type=simple
ExecStart={{ django_app_remote_path }}/django/web_app/manage.py runserver 0.0.0.0:8000
WorkingDirectory={{ django_app_remote_path }}/django/web_app

[Install]
WantedBy=multi-user.target